@import "styles/colors.module";

.rounded {
  border-radius: 30px;
  border: 1px solid $soapstone;
  width: 100%;
  font-family: "Atkinson Hyperlegible", regular;
  font-weight: bold;
  cursor: pointer;
}

.small {
  padding: 0.5rem 1rem;
}

.medium {
  padding: 0.5rem 0.25rem;
}

.large {
  padding: 0.75rem 2rem;
}

.dark {
  background-color: $dark;
}

.pickledBlueWood {
  background-color: $pickled-blue-wood;
  color: $soapstone;

  &__blue {
    color: $dark;
  }

  &:hover {
    background-color: $hippie-blue;
  }
}

.jungleMist {
  background-color: $jungle-mist;
  color: $soapstone;

  &:hover {
    background-color: $hippie-blue;
  }
}

.squash {
  background-color: $squash;
  color: $soapstone;

  &:hover {
    background-color: #ffb84a;
  }
}
