@import "styles/colors.module";

.container {
  background-color: $soapstone;
  padding: 2rem;
  border-radius: 20px;
}

.seperator {
  margin-bottom: 1rem;
}

.buttonGroupTwo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.buttonGroupFour {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.header {
  margin-bottom: 0.5rem;
  color: $grey-blue;
}

.startGameButton {
  border-radius: 30px;
  border: 1px solid $soapstone;
  width: 100%;
  padding: 0.5em;
  font-family: "Atkinson Hyperlegible", regular;
  font-weight: bold;
  cursor: pointer;
  background-color: $squash;
  color: $soapstone;
  margin-top: 1.25rem;

  &:hover {
    background-color: hsl(36°, 100%, 65%);
  }
}
