@import "styles/colors.module";

.container {
  background-color: $dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memoryTitle {
  color: $soapstone;
  margin: 154px 0 64px 0;
}
