$squash: hsl(37, 98%, 54%);
$jungle-mist: hsl(203, 28%, 79%);
$pickled-blue-wood: hsl(205, 30%, 27%);
$dark: hsl(206, 45%, 15%);
$porcelain: hsl(0, 0%, 95%);
$grey-blue: hsl(203, 22%, 55%);
$hippie-blue: hsl(205, 37%, 55%);
$soapstone: hsl(0, 0%, 99%);
