.header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  margin-left: auto;
}

.game {
  display: grid;
  justify-content: center;
}

.solo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  margin-top: 6rem;
}
